*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(0, 0, 7,0.4),rgba(0, 0,7,0.4)), 
    url("./IN-en-20230807-popsignuptwoweeks-perspective_alpha_website_large.jpg"); 
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
   
    .parent{
        display: flex;
        justify-content: space-between;
        padding-left: 10rem;
    }
    .div1{
       padding-right: 150px;
       padding-top: 50px;
    }
    .btn1{
        background-color: transparent;
        font-size: 14px;
        border: none;
        color: rgb(255, 251, 251);
        border-radius: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-top: 5px;
        border: 1px solid;
        margin: 2px;
    }
    .btn2{
        background-color: rgb(169, 15, 15);
        font-size: 14px;
        color: white;
        border:none;
         border-radius: 5px;
         padding-right: 10px;
         padding-bottom: 6px;
         padding-left: 10px;
         padding-top: 6px;
    }
    .heading{
        color: white;
        font-weight: bold;
        text-align: center;
        padding-top: 200px;
    }
   .parent2{
    color: white;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    padding-top: 100px;
    line-height: 40px;
   }
   .para{
    font-size: larger;
    font-weight: 500;
   }
   .text{
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 80px;
    background-color: transparent;
    border: none;
    border: 1px solid;
    color: white;
    border-radius: 5px;
    
   }
   .btn3{
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    margin: 6px;
   }
   .div3{
    display: flex;
   padding-left: 450px;
  

   }


